TempConverter {
    iibEnv = "DEV"
    versionMajor = 1
    versionMinor = 1
    barfileDir = "BARfiles"
    applications = ["TemperatureConverter"]
    deployAsSource = Boolean.FALSE
    barfileDir = "BARfiles"

    soapUIProject = "TC-soapui-project.xml"
    soapUIParams = "-r -j"

    integrationNodes {
      intNode1 {
    		host = "localhost"
        port = "4414"
        intNode = "TESTNODE_iibuser"
        intServer = "default"
      }
    }
  }
